.basketTitle{
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    border-radius: 5px;
    padding:5px;
    margin-top: 30px;
    background: antiquewhite;
}
.basketTable{
    margin: auto;
    width: 50%;
    height: 500px;

}
.basketOrder{
    display: flex;

}
.basketOrderImg{
    height: 100px;
    width: 100px;
}
.basketOrderTitle{
    display: block;
    width: 80%;
}
.basketOrderTitle1{
    font-weight: bold;
    font-size: x-large;
}
.basketOrderPrice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}
