.sum-logo-off{
    display: none;
}
.sum-logo{
    background: darkorange;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top:6px;
    right: 20px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
